.scrol-div::-webkit-scrollbar {
    width: 12px;
    padding: 6px;
}

.scrol-div::-webkit-scrollbar-track {
    background: linear-gradient(180deg, #65dbfc, #b682f4);
    border-radius: 10px;
    border: 2px solid #88d5f1ec;
}

.scrol-div::-webkit-scrollbar-thumb {
    background-color: #7cd6ff;
    box-shadow: 0 0 1.5rem 1rem rgba(186, 122, 235, 0.16);
    border-radius: 10px;

}

.scrol-div::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #d28fff, #7bb9efd7);
}