@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.Calender h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 60px;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    appearance: none;
}

textarea:focus::placeholder {
    color: transparent;
}

.current-day {
    background-color: #25c6cc;
    color: white;
    border-radius: 50%;
    box-shadow: 0 0 1.5rem 1rem rgba(189, 237, 233, 0.3);
}

.events::-webkit-scrollbar {
    width: 10px;
    padding: 6px;
}

.events::-webkit-scrollbar-track {
    background: linear-gradient(180deg, #18bed4, #9849e1);
    border-radius: 10px;
    border: 2px solid #6e83f8;
}

.events::-webkit-scrollbar-thumb {
    background-color: #78dcfe;
    box-shadow: 0 0 1.5rem 1rem rgba(70, 215, 223, 0.16);
    border-radius: 10px;
}

.events::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #973bd4, #9aeded);
}