@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.Calender h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 60px;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    appearance: none;
}

textarea:focus::placeholder {
    color: transparent;
}

.current-day {
    background-color: #694937;
    color: antiquewhite;
    border-radius: 50%;
    box-shadow: 0 0 1.5rem 1rem rgba(101, 31, 10, 0.3);
}

.events::-webkit-scrollbar {
    width: 10px;
    padding: 6px;
}

.events::-webkit-scrollbar-track {
    background: linear-gradient(180deg, #612c0d, #917152);
    border-radius: 10px;
    border: 2px solid #0a0f2c;
}

.events::-webkit-scrollbar-thumb {
    background-color: #ad8c63;
    box-shadow: 0 0 1.5rem 1rem rgba(239, 143, 17, 0.16);
    border-radius: 10px;

}

.events::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #4f1d0a, #a07b47);
}