@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

body,
.App,
#root {
  width: 100%;
  min-height: 100vh;
  font-family: "Roboto Slab", serif;
  font-style: normal;
  background-color: white;

  .scroll::-webkit-scrollbar {
    width: 10px;
    padding: 6px;
  }

  .scroll::-webkit-scrollbar-track {
    background: linear-gradient(180deg, #18bed4, #9849e1);
    border-radius: 10px;
    border: 2px solid #6e83f8;
  }

  .scroll::-webkit-scrollbar-thumb {
    background-color: #78dcfe;
    box-shadow: 0 0 1.5rem 1rem rgba(70, 215, 223, 0.16);
    border-radius: 10px;

  }

  .scroll::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #973bd4, #9aeded);
  }
}